# Load dataset from SOA website

In [2]:
# @title Check
import requests
from io import BytesIO
from zipfile import ZipFile
import pandas as pd

# Directory to store the extracted files
desired_directory = '/Users/justinkao/Desktop/Durham NC/Duke University/Courses/S_2024_STA 663 Statistical Computing and Computation(Dr. Ouwen Huang)/Project 1/STA663_Project_1'  # Replace with your actual path

# URLs of the zip files
zip_files = {
    'incidence': 'https://www.soa.org/4a33aa/globalassets/assets/files/resources/experience-studies/2020/2000-2016-ltc-incidence.zip',
    'termination': 'https://www.soa.org/4a2e5d/globalassets/assets/files/resources/experience-studies/2020/2000-2016-ltc-termination.zip'
}

# DataFrames dictionary
dataframes = {}

# Download and unzip the files
for name, zip_url in zip_files.items():
    response = requests.get(zip_url)
    # Check if the request was successful
    if response.ok:
        with ZipFile(BytesIO(response.content)) as thezip:
            # Extract all files from the zip into a directory
            thezip.extractall(desired_directory)
            # Loop through each file in the zip
            for zipinfo in thezip.infolist():
                # Construct the full path to the extracted file
                file_path = f'{desired_directory}/{zipinfo.filename}'
                # Assuming the file is a tab-separated txt file
                df = pd.read_csv(file_path, sep='\t', low_memory=False)  # Adjust sep if necessary
                # Assign the DataFrame to the corresponding variable
                dataframes[name] = df
    else:
        print(f"Failed to retrieve {zip_url}")

In [5]:
incidence_df = dataframes['incidence']
incidence_df

,Group_Indicator,Gender,Issue_Age_Bucket,Incurred_Age_Bucket,Issue_Year_Bucket,Policy_Year,Marital_Status,Premium_Class,Underwriting_Type,Coverage_Type_Bucket,...,ALF_EP_Bucket,HHC_EP_Bucket,Region,Active_Exposure,Total_Exposure,Claim_Count,Count_NH,Count_ALF,Count_HHC,Count_Unk
0,Group,Female,55-59,55-59,2003-2005,1-3 years,Single,Standard,Other,Comprehensive,...,0,0,Unknown,37.583332,37.583332,0,0,0,0,0
1,Individual,Female,60-64,70-74,1997-1999,10-12 years,Single,Preferred,Other,Comprehensive,...,0,0,02: Northeast,14.500000,14.500000,0,0,0,0,0
2,Group,Female,50-54,60-64,2000-2002,10-12 years,Unknown,Standard,Unknown,Comprehensive,...,0,0,Unknown,2250.000000,2252.000000,0,0,0,0,0
3,Individual,Female,55-59,70-74,1994-1996,13-15 years,Married,Standard,Other,Comprehensive,...,0,0,01: Mid-West,19.000000,19.000000,0,0,0,0,0
4,Individual,Male,60-64,65-69,2003-2005,4-6 years,Married,Substandard,Full underwriting,Comprehensive,...,90,20,02: Northeast,2.000000,2.000000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089318,Individual,Male,55-59,60-64,2012-2014,1-3 years,Married,Substandard,Full underwriting,Comprehensive,...,0,0,01: Mid-West,7.083333,7.083333,0,0,0,0,0
2089319,Individual,Male,65-69,70-74,1997-1999,7-9 years,Married,Standard,Full underwriting,Comprehensive,...,180,180,02: Northeast,2.000000,2.000000,0,0,0,0,0
2089320,Individual,Female,65-69,75-79,1994-1996,7-9 years,Single,Preferred,Other,Comprehensive,...,0,0,01: Mid-West,6.000000,6.000000,0,0,0,0,0
2089321,Individual,Female,50-54,55-59,1994-1996,7-9 years,Single,Standard,Unknown,Comprehensive,...,0,0,Unknown,6.000000,6.000000,0,0,0,0,0
2089322,Individual,Female,0-49,50-54,1997-1999,1-3 years,Single,Preferred,Full underwriting,Comprehensive,...,90,30,03: South,3.000000,3.000000,0,0,0,0,0

In [6]:
termination_df = dataframes['termination']
termination_df

,Gender,Incurred_Age_Bucket,Incurred_Year_Bucket,Claim_Type,Region,Diagnosis_Category,Claim_Duration,Exposure,Deaths,Recovery,Terminations,Benefit_Expiry,Others_Terminations
0,Female,Unknown,2009-2010,HCC,Unknown,Unknown,80,77,0,2,2,1,0
1,Female,Unknown,2003-2004,NH,Unknown,Unknown,86,49,1,0,1,0,0
2,Female,Unknown,2005-2006,Other,Unknown,Unknown,88,16,1,0,1,0,0
3,Female,Unknown,2003-2004,ALF,Unknown,Unknown,114,29,1,0,1,0,0
4,Female,Unknown,< 2001,NH,Unknown,Unknown,4,56,5,1,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
627185,Male,85-89,2007-2008,NH,Unknown,05: Injury,33,2,0,0,0,0,0
627186,Male,75-79,2007-2008,HCC,03: South,Unknown,31,62,3,0,3,0,0
627187,Female,80-84,2013-2014,HCC,01: Mid-West,07: Stroke,23,6,0,0,0,0,0
627188,Male,70-74,2001-2002,HCC,02: Northeast,Unknown,30,7,0,0,0,0,0
627189,Female,85-89,2003-2004,ALF,Unknown,Unknown,32,95,1,0,1,0,0

# Split both "Incidence" and "Termination" datasets into train/test