# STA 663 Project 1: 
- Huggingface: mastergopote44/Long-Term-Care-Aggregated-Data
- Name: Justin Kao
- School: Duke University

## Load dataset from SOA website

In [1]:
import requests
from io import BytesIO
from zipfile import ZipFile
import pandas as pd

# Directory to store the extracted files
desired_directory = '/Users/justinkao/Desktop/Durham NC/Duke University/Courses/S_2024_STA 663 Statistical Computing and Computation(Dr. Ouwen Huang)/Project 1/STA663_Project_1'  # Replace with your actual path

# URLs of the zip files
zip_files = {
    'incidence': 'https://www.soa.org/4a33aa/globalassets/assets/files/resources/experience-studies/2020/2000-2016-ltc-incidence.zip',
    'termination': 'https://www.soa.org/4a2e5d/globalassets/assets/files/resources/experience-studies/2020/2000-2016-ltc-termination.zip'
}

# DataFrames dictionary
dataframes = {}

# Download and unzip the files
for name, zip_url in zip_files.items():
    response = requests.get(zip_url)
    # Check if the request was successful
    if response.ok:
        with ZipFile(BytesIO(response.content)) as thezip:
            # Extract all files from the zip into a directory
            thezip.extractall(desired_directory)
            # Loop through each file in the zip
            for zipinfo in thezip.infolist():
                # Construct the full path to the extracted file
                file_path = f'{desired_directory}/{zipinfo.filename}'
                # Assuming the file is a tab-separated txt file
                df = pd.read_csv(file_path, sep='\t', low_memory=False)  # Adjust sep if necessary
                # Assign the DataFrame to the corresponding variable
                dataframes[name] = df
    else:
        print(f"Failed to retrieve {zip_url}")

In [13]:
incidence_df = dataframes['incidence']
incidence_df

,Group_Indicator,Gender,Issue_Age_Bucket,Incurred_Age_Bucket,Issue_Year_Bucket,Policy_Year,Marital_Status,Premium_Class,Underwriting_Type,Coverage_Type_Bucket,...,ALF_EP_Bucket,HHC_EP_Bucket,Region,Active_Exposure,Total_Exposure,Claim_Count,Count_NH,Count_ALF,Count_HHC,Count_Unk
0,Group,Female,55-59,55-59,2003-2005,1-3 years,Single,Standard,Other,Comprehensive,...,0,0,Unknown,37.583332,37.583332,0,0,0,0,0
1,Individual,Female,60-64,70-74,1997-1999,10-12 years,Single,Preferred,Other,Comprehensive,...,0,0,02: Northeast,14.500000,14.500000,0,0,0,0,0
2,Group,Female,50-54,60-64,2000-2002,10-12 years,Unknown,Standard,Unknown,Comprehensive,...,0,0,Unknown,2250.000000,2252.000000,0,0,0,0,0
3,Individual,Female,55-59,70-74,1994-1996,13-15 years,Married,Standard,Other,Comprehensive,...,0,0,01: Mid-West,19.000000,19.000000,0,0,0,0,0
4,Individual,Male,60-64,65-69,2003-2005,4-6 years,Married,Substandard,Full underwriting,Comprehensive,...,90,20,02: Northeast,2.000000,2.000000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089318,Individual,Male,55-59,60-64,2012-2014,1-3 years,Married,Substandard,Full underwriting,Comprehensive,...,0,0,01: Mid-West,7.083333,7.083333,0,0,0,0,0
2089319,Individual,Male,65-69,70-74,1997-1999,7-9 years,Married,Standard,Full underwriting,Comprehensive,...,180,180,02: Northeast,2.000000,2.000000,0,0,0,0,0
2089320,Individual,Female,65-69,75-79,1994-1996,7-9 years,Single,Preferred,Other,Comprehensive,...,0,0,01: Mid-West,6.000000,6.000000,0,0,0,0,0
2089321,Individual,Female,50-54,55-59,1994-1996,7-9 years,Single,Standard,Unknown,Comprehensive,...,0,0,Unknown,6.000000,6.000000,0,0,0,0,0
2089322,Individual,Female,0-49,50-54,1997-1999,1-3 years,Single,Preferred,Full underwriting,Comprehensive,...,90,30,03: South,3.000000,3.000000,0,0,0,0,0

## Inspect for the presence of outliers and missing values in the variable

#### 1. Check out the dataframe at first and make sure the unique vlaue of each variable is reasonable

In [25]:
termination_df = dataframes['termination']
termination_df

,Gender,Incurred_Age_Bucket,Incurred_Year_Bucket,Claim_Type,Region,Diagnosis_Category,Claim_Duration,Exposure,Deaths,Recovery,Terminations,Benefit_Expiry,Others_Terminations
0,Female,Unknown,2009-2010,HCC,Unknown,Unknown,80,77,0,2,2,1,0
1,Female,Unknown,2003-2004,NH,Unknown,Unknown,86,49,1,0,1,0,0
2,Female,Unknown,2005-2006,Other,Unknown,Unknown,88,16,1,0,1,0,0
3,Female,Unknown,2003-2004,ALF,Unknown,Unknown,114,29,1,0,1,0,0
4,Female,Unknown,< 2001,NH,Unknown,Unknown,4,56,5,1,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
627185,Male,85-89,2007-2008,NH,Unknown,05: Injury,33,2,0,0,0,0,0
627186,Male,75-79,2007-2008,HCC,03: South,Unknown,31,62,3,0,3,0,0
627187,Female,80-84,2013-2014,HCC,01: Mid-West,07: Stroke,23,6,0,0,0,0,0
627188,Male,70-74,2001-2002,HCC,02: Northeast,Unknown,30,7,0,0,0,0,0
627189,Female,85-89,2003-2004,ALF,Unknown,Unknown,32,95,1,0,1,0,0

In [24]:
unique_values = {col: incidence_df[col].unique() for col in incidence_df.columns}
unique_values

{'Group_Indicator': array(['Group', 'Individual'], dtype=object),
 'Gender': array(['Female', 'Male'], dtype=object),
 'Issue_Age_Bucket': array(['55-59', '60-64', '50-54', '65-69', '70-74', ' 0-49', '75-79',
        '80-84', '85-89', 'Unknown', '90+'], dtype=object),
 'Incurred_Age_Bucket': array(['55-59', '70-74', '60-64', '65-69', '50-54', '75-79', ' 0-49',
        '80-84', '85-89', '90+', 'Unknown'], dtype=object),
 'Issue_Year_Bucket': array(['2003-2005', '1997-1999', '2000-2002', '1994-1996', '2006-2008',
        '1991-1993', ' < 1991', '2012-2014', '2009-2011', '2015-2016',
        'Unknown'], dtype=object),
 'Policy_Year': array([' 1-3 years', '10-12 years', '13-15 years', ' 4-6 years',
        ' 7-9 years', '15+ years'], dtype=object),
 'Marital_Status': array(['Single', 'Unknown', 'Married'], dtype=object),
 'Premium_Class': array(['Standard', 'Preferred', 'Substandard'], dtype=object),
 'Underwriting_Type': array(['Other', 'Unknown', 'Full underwriting'], dtype=object),
 'Coverage_Type_Bucket': array(['Comprehensive', 'Other'], dtype=object),
 'Tax_Qualification_Status': array(['Tax-qualified', 'Non-tax-qualified'], dtype=object),
 'Inflation_Rider': array(['Inflation protection', 'No inflation protection', 'GPO',
        'Unknown'], dtype=object),
 'Rate_Increase_Flag': array(['No', 'Yes'], dtype=object),
 'Restoration_of_Benefits': array(['No', 'Yes'], dtype=object),
 'NH_Orig_Daily_Ben_Bucket': array(['100-199', ' < 100', 'Unknown', '200+'], dtype=object),
 'ALF_Orig_Daily_Ben_Bucket': array([' < 100', '100-199', 'Unknown', '200+'], dtype=object),
 'HHC_Orig_Daily_Ben_Bucket': array([' < 100', '100-199', 'Unknown', '200+'], dtype=object),
 'NH_Ben_Period_Bucket': array(['Unknown', '  3-4 year', ' Unlimited', '   < 3 year', '  5-9 year',
        ' 10+ years'], dtype=object),
 'ALF_Ben_Period_Bucket': array(['Unknown', '  3-4 year', ' Unlimited', '  5-9 year', '   < 3 year',
        ' 10+ years'], dtype=object),
 'HHC_Ben_Period_Bucket': array(['Unknown', '  5-9 year', ' Unlimited', '   < 3 year', '  3-4 year',
        ' 10+ years'], dtype=object),
 'NH_EP_Bucket': array(['   0', '  90', '  20', '  30', ' 180', 'Unknown'], dtype=object),
 'ALF_EP_Bucket': array(['   0', '  90', '  20', '  30', ' 180', 'Unknown'], dtype=object),
 'HHC_EP_Bucket': array(['   0', '  20', '  30', '  90', ' 180', 'Unknown'], dtype=object),
 'Region': array(['Unknown', '02: Northeast', '01: Mid-West', '05: Other',
        '04: West', '03: South'], dtype=object),
 'Active_Exposure': array([  37.583332,   14.5     , 2250.      , ...,  354.91653 ,
        1583.      , 3501.9167  ]),
 'Total_Exposure': array([  37.583332,   14.5     , 2252.      , ...,  155.0833  ,
        1583.      , 3501.9167  ]),
 'Claim_Count': array([  0,   1,   2,   3,  12,   4,   5,  28,   6,   7,  20,  33,   9,
         21,  48,   8,  26,  14,  10,  13,  15,  24,  23,  17,  22,  25,
         18,  19,  16,  57,  11, 195,  39,  86, 130,  38,  27,  36,  56,
         32,  45,  30, 114,  31,  84,  65, 145, 122, 265,  63,  42,  61,
        173,  70,  29,  66,  47,  79,  35,  82,  49,  40,  59,  46,  34,
         37, 123,  69,  55,  43,  90,  92,  72,  80,  58,  50,  96,  68,
         51,  99,  73, 168, 109,  75,  52, 150,  77, 107,  67,  93,  60,
         41, 429, 115,  44,  53,  85,  64,  54, 146, 110, 134, 219, 135,
        129, 126,  74,  62, 254, 233,  91, 108, 285,  78, 128,  94,  89,
        155, 101, 127, 236,  95, 125, 204, 154, 148,  81,  76,  71, 100,
         83, 106, 113, 138, 158, 153, 232, 239, 336, 202, 185, 111, 170,
        200, 142,  88, 205, 171, 324, 176, 121, 162, 151, 179, 147,  87,
        132, 117, 348, 102, 184, 266, 116, 189, 252, 160, 301, 141, 201,
         97, 104, 103, 317, 174,  98, 166, 181, 105, 365, 143, 167, 120,
        280, 144, 413, 140, 248, 161, 119, 359, 222, 267, 274, 112, 344,
        276, 180, 238, 260, 163, 159, 136, 263, 190, 458]),
 'Count_NH': array([  0,   1,   7,   3,   2,   9,   5,  11,   4,  21,  48,  26,  24,
          6,  13,  23,  15,   8,  19,  12,  16,  25,  10,  39, 130,  22,
         31,  14,  17,  28,  18,  29,  55, 145,  32,  49,  34,  20,  36,
         35,  46,  40, 122,  57,  41,  42,  92,  61,  45,  33,  56,  99,
         75, 107,  73,  30,  27,  52,  38,  47, 109,  70,  43,  44, 126,
         64,  54,  63, 253,  62,  77,  83,  89, 114,  65,  51,  67,  60,
         96,  88,  72,  53,  37,  59, 154,  79, 123,  58,  98,  50, 323,
        176, 119,  93, 110, 179,  81, 146, 153,  78,  69, 116, 189,  80,
         66, 121,  71,  68, 100,  94,  97, 144,  82, 105, 104,  85]),
 'Count_ALF': array([  0,   1,   3,   5,   6,   2,   4,   8,  20,  11,   9,  13,  10,
         12,   7,  25,  29,  17,  35,  14,  33,  27,  21,  32,  15,  16,
         30,  53,  45,  24,  19,  18,  23,  28,  22,  47,  56,  58,  89,
         26,  54,  90,  31,  62, 106, 109, 143,  41,  39,  59,  38,  52,
         82,  91,  34, 119,  55]),
 'Count_HHC': array([  0,   1,   3,   4,  13,   2,   5,   6,  33,   8,  10,  12,  11,
          7, 192,  22,  85,  18,   9,  21,  14,  20,  52,  16,  40, 114,
         54, 121, 244,  31,  23,  61,  19, 139,  45,  15,  25,  24,  17,
         81,  27,  35,  39,  46,  28,  68,  89,  43,  48,  99,  55,  94,
         51,  66,  44, 149,  34,  95,  32,  47, 137,  26, 392,  42,  72,
         30, 155,  41,  62,  64, 202,  56,  37,  53,  83,  98,  29,  73,
         58,  57, 211,  59, 269, 118,  91, 127,  50,  38,  65, 212, 146,
        181, 135,  69, 136,  49,  36, 113,  63, 131, 147,  75, 207,  78,
        308, 189, 111, 166, 157,  60, 109,  79, 154,  86, 148,  67, 229,
         76, 126, 115,  71,  74, 347,  97,  77, 218, 110, 167, 117, 128,
        159,  92, 141, 108, 142,  70,  80, 315, 160, 104, 339, 106, 105,
        156, 103, 196, 249, 390,  88,  82, 152, 359, 190,  87, 265, 120,
        246, 116, 230, 248, 130, 144, 237, 150, 254, 173, 234, 424, 133]),
 'Count_Unk': array([  0,   1,   5,   2,   8,   3,   4,   9,   6,  26,  10,  11,  18,
         12,  16,  17,   7,  22,  19,  28,  21,  15,  25,  13,  50,  14,
         27,  54,  37,  38,  20,  31,  33,  42,  23,  29,  35,  24,  63,
         73,  71,  39,  58,  32,  56, 102,  30,  66,  60,  49,  43,  41,
         45,  52])}

#### 2. Checking for "Unknown" Values That Do Not Contribute Information
The dataset contains 627,190 rows and 13 columns. For actuarial analysis, it is essential that the variables 'Issue_Age_Bucket', 'Incurred_Age_Bucket', and 'Issue_Year_Bucket' contain valid information since they are crucial in evaluating claim incidences. Rows with 'Unknown' values in these variables do not contribute to the analysis and can potentially skew the results. Currently, there are 519 'Unknown' values in 'Issue_Age_Bucket', 481 in 'Incurred_Age_Bucket', and 431 in 'Issue_Year_Bucket'. Removing rows with 'Unknown' values in these three variables is a necessary step to ensure data quality and reliability of the analysis.

In [26]:
# Calculate the number of 'Unknown' values in the 'Issue_Age_Bucket' column
unknown_issue_age = (incidence_df['Issue_Age_Bucket'] == 'Unknown').sum()
print(f"Number of 'Unknown' values in 'Issue_Age_Bucket': {unknown_issue_age}")

Number of 'Unknown' values in 'Issue_Age_Bucket': 519

In [22]:
unknown_incurred_age = (incidence_df['Incurred_Age_Bucket'] == 'Unknown').sum()
print(f"Number of 'Unknown' values in 'Incurred_Age_Bucket': {unknown_incurred_age}")

Number of 'Unknown' values in 'Incurred_Age_Bucket': 481

In [23]:
unknown_issue_year = (incidence_df['Issue_Year_Bucket'] == 'Unknown').sum()
print(f"Number of 'Unknown' values in 'Issue_Year_Bucket': {unknown_issue_year}")

Number of 'Unknown' values in 'Issue_Year_Bucket': 431

#### 3. Eliminate rows where below three variables have 'Unknown' values
- Counts of 'Unknown' values in key variables:
- 'Issue_Age_Bucket': 519
- 'Incurred_Age_Bucket': 481
- 'Issue_Year_Bucket': 431

In [28]:
# Eliminate rows where these three variables have 'Unknown' values
filtered_incidence_df = incidence_df[
    (incidence_df['Issue_Age_Bucket'] != 'Unknown') & 
    (incidence_df['Incurred_Age_Bucket'] != 'Unknown') & 
    (incidence_df['Issue_Year_Bucket'] != 'Unknown')
]

# Display the shape of the dataframe after elimination
print(f"Dataframe shape after elimination: {filtered_incidence_df.shape}")

Dataframe shape after elimination: (2088757, 31)

In [29]:
filtered_incidence_df

,Group_Indicator,Gender,Issue_Age_Bucket,Incurred_Age_Bucket,Issue_Year_Bucket,Policy_Year,Marital_Status,Premium_Class,Underwriting_Type,Coverage_Type_Bucket,...,ALF_EP_Bucket,HHC_EP_Bucket,Region,Active_Exposure,Total_Exposure,Claim_Count,Count_NH,Count_ALF,Count_HHC,Count_Unk
0,Group,Female,55-59,55-59,2003-2005,1-3 years,Single,Standard,Other,Comprehensive,...,0,0,Unknown,37.583332,37.583332,0,0,0,0,0
1,Individual,Female,60-64,70-74,1997-1999,10-12 years,Single,Preferred,Other,Comprehensive,...,0,0,02: Northeast,14.500000,14.500000,0,0,0,0,0
2,Group,Female,50-54,60-64,2000-2002,10-12 years,Unknown,Standard,Unknown,Comprehensive,...,0,0,Unknown,2250.000000,2252.000000,0,0,0,0,0
3,Individual,Female,55-59,70-74,1994-1996,13-15 years,Married,Standard,Other,Comprehensive,...,0,0,01: Mid-West,19.000000,19.000000,0,0,0,0,0
4,Individual,Male,60-64,65-69,2003-2005,4-6 years,Married,Substandard,Full underwriting,Comprehensive,...,90,20,02: Northeast,2.000000,2.000000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2089318,Individual,Male,55-59,60-64,2012-2014,1-3 years,Married,Substandard,Full underwriting,Comprehensive,...,0,0,01: Mid-West,7.083333,7.083333,0,0,0,0,0
2089319,Individual,Male,65-69,70-74,1997-1999,7-9 years,Married,Standard,Full underwriting,Comprehensive,...,180,180,02: Northeast,2.000000,2.000000,0,0,0,0,0
2089320,Individual,Female,65-69,75-79,1994-1996,7-9 years,Single,Preferred,Other,Comprehensive,...,0,0,01: Mid-West,6.000000,6.000000,0,0,0,0,0
2089321,Individual,Female,50-54,55-59,1994-1996,7-9 years,Single,Standard,Unknown,Comprehensive,...,0,0,Unknown,6.000000,6.000000,0,0,0,0,0
2089322,Individual,Female,0-49,50-54,1997-1999,1-3 years,Single,Preferred,Full underwriting,Comprehensive,...,90,30,03: South,3.000000,3.000000,0,0,0,0,0

# Split both "Incidence" and "Termination" datasets into train/test

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Now we will split the 'incidence' DataFrame into training and validation sets
train_incidence_df, validation_incidence_df = train_test_split(incidence_df, test_size=0.2, random_state=42)

# train_df is now your training set, and validation_df is your validation set.

In [7]:
train_incidence_df

,Group_Indicator,Gender,Issue_Age_Bucket,Incurred_Age_Bucket,Issue_Year_Bucket,Policy_Year,Marital_Status,Premium_Class,Underwriting_Type,Coverage_Type_Bucket,...,ALF_EP_Bucket,HHC_EP_Bucket,Region,Active_Exposure,Total_Exposure,Claim_Count,Count_NH,Count_ALF,Count_HHC,Count_Unk
1169689,Individual,Female,65-69,65-69,2012-2014,1-3 years,Married,Standard,Full underwriting,Comprehensive,...,180,20,03: South,3.00,3.00,0,0,0,0,0
1108052,Individual,Female,70-74,75-79,2003-2005,7-9 years,Unknown,Standard,Unknown,Other,...,0,0,04: West,3.00,3.00,0,0,0,0,0
592482,Individual,Male,0-49,0-49,2000-2002,1-3 years,Married,Standard,Other,Other,...,0,0,01: Mid-West,3.00,3.00,0,0,0,0,0
2018207,Individual,Female,60-64,65-69,1997-1999,7-9 years,Single,Standard,Full underwriting,Comprehensive,...,0,0,Unknown,15.00,15.00,0,0,0,0,0
914787,Individual,Female,50-54,50-54,2000-2002,4-6 years,Single,Preferred,Full underwriting,Comprehensive,...,0,0,01: Mid-West,27.00,27.00,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,Individual,Male,55-59,60-64,2009-2011,1-3 years,Married,Standard,Full underwriting,Comprehensive,...,90,90,02: Northeast,9.00,9.00,0,0,0,0,0
1414414,Group,Female,70-74,70-74,2000-2002,1-3 years,Married,Standard,Other,Comprehensive,...,30,30,04: West,3.00,3.00,0,0,0,0,0
131932,Individual,Female,65-69,75-79,1997-1999,10-12 years,Single,Preferred,Full underwriting,Comprehensive,...,0,0,01: Mid-West,19.25,19.25,1,1,0,0,0
671155,Individual,Male,70-74,75-79,2003-2005,4-6 years,Married,Substandard,Full underwriting,Other,...,0,0,04: West,3.00,3.00,0,0,0,0,0
121958,Individual,Female,55-59,55-59,2003-2005,1-3 years,Single,Substandard,Full underwriting,Comprehensive,...,90,20,03: South,3.00,3.00,0,0,0,0,0

In [8]:
validation_incidence_df

,Group_Indicator,Gender,Issue_Age_Bucket,Incurred_Age_Bucket,Issue_Year_Bucket,Policy_Year,Marital_Status,Premium_Class,Underwriting_Type,Coverage_Type_Bucket,...,ALF_EP_Bucket,HHC_EP_Bucket,Region,Active_Exposure,Total_Exposure,Claim_Count,Count_NH,Count_ALF,Count_HHC,Count_Unk
1105512,Individual,Female,50-54,60-64,2006-2008,7-9 years,Married,Preferred,Other,Comprehensive,...,0,0,Unknown,5.916666,5.916666,0,0,0,0,0
318931,Group,Male,65-69,75-79,1994-1996,7-9 years,Married,Standard,Other,Comprehensive,...,20,20,03: South,4.000000,4.000000,0,0,0,0,0
1624883,Individual,Male,60-64,70-74,1991-1993,7-9 years,Married,Standard,Full underwriting,Other,...,0,0,Unknown,263.416630,263.416630,0,0,0,0,0
1227544,Individual,Male,80-84,85-89,1997-1999,7-9 years,Single,Standard,Full underwriting,Comprehensive,...,0,0,01: Mid-West,3.000000,3.000000,0,0,0,0,0
179423,Group,Female,55-59,55-59,2000-2002,4-6 years,Single,Preferred,Other,Comprehensive,...,0,0,01: Mid-West,3.000000,3.000000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278571,Individual,Female,55-59,65-69,2003-2005,10-12 years,Unknown,Preferred,Unknown,Comprehensive,...,90,30,01: Mid-West,2.000000,2.000000,0,0,0,0,0
1505247,Individual,Male,50-54,60-64,2000-2002,7-9 years,Single,Standard,Full underwriting,Comprehensive,...,0,0,01: Mid-West,8.000000,8.000000,0,0,0,0,0
1660318,Individual,Female,70-74,75-79,1997-1999,7-9 years,Single,Preferred,Other,Comprehensive,...,20,20,03: South,15.000000,15.000000,1,0,0,1,0
1563687,Group,Female,60-64,60-64,1997-1999,1-3 years,Unknown,Standard,Full underwriting,Comprehensive,...,0,0,04: West,3.999998,3.999998,0,0,0,0,0
998725,Individual,Male,70-74,85-89,1997-1999,10-12 years,Married,Standard,Unknown,Comprehensive,...,0,0,Unknown,4.000000,4.250000,0,0,0,0,0

In [5]:
# Now we will split the 'incidence' DataFrame into training and validation sets

train_termination_df, validation_termination_df = train_test_split(termination_df, test_size=0.2, random_state=42)